*.vt100.reverseVideo: true
*.vt100.translations: #override \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
*.vt100.faceName: Source Code Pro,Source Code Pro Semibold                                       
*.vt100.termName: xterm-256color
XTerm.termName: xterm-256color

*.vt100.faceSize: 14

Xft.dpi: 100
